.homepage {
    height: 100%;
    display: grid;
    place-items: center;
    margin-left: 11rem;

    .homepage__header {
        height: 96vh;
        width: 100%;
        // background-color: #edf1f8;
        // box-shadow: 0 0 0.35rem #d5d8dd;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 0.1rem;

        .header--item {
            background-color: #ffffff;

        }

        .header--content {
            display: grid;
            place-items: center;
            height: 100%;
            width: 100%;

            .header--content__wrapper {
                height:90%;
                width: 75%;

                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                h1 {
                    font-size: 5rem;
                    font-family: 'Source Serif Pro', serif;
                }

                .content--identity {
                    height: 15rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    h2 {
                        font-size: 2.4rem;
                        text-transform: capitalize;
                        

                        padding: 0.25rem 5rem;
                    }
                }

                .content--description {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    font-size: 2rem;
                    font-family: sans-serif;
                    border-right: 0.25rem solid rgb(36, 55, 138);
                    border-top: 0.25rem solid rgb(36, 55, 138);
                    padding: 3rem 0;
                    box-shadow: 0 0 0.35rem #d5d8dd;

                    div {
                        padding-left: 5rem;
                        font-size: 3rem;

                    }

                    li {
                        margin-bottom: 0.75rem;
                    }

                    &:hover{
                        transform: translateX(-2%);
                        transition: inherit 500ms ease-in;
                    }
                
                    transition: all 350ms ease-in;

                }

                Button {
                    width: 15rem;

                    cursor: pointer;
                    outline: none;
                    font-size: 1.5rem;
                    font-weight: 600;
                    
                    color: #000000;
                    border: none;
                    border-radius: 0.5rem;
                    box-shadow: 0 0 0.35rem #d5d8dd;

                   

                    transition: all 500ms ease;
                }


                .know-more{
                    // background-color: #67F4AA;
                    background-color: #6bd68f;
                    
                    margin-right: 5rem;
                    
                }
            }
        }

        .header--image {
            height: 100%;
            width: 100%;
            // background-image: url(/assets/people.png);
            
            // background-image: url(/assets/loopd.webp);
            // background-size: 100%;
            // background-repeat: no-repeat;
            // background-position: 50% 0%;
            // transform: scaleX(-1);

            box-shadow: 0 0 0.35rem #d5d8dd;
            border-radius: 1rem;

            overflow:hidden;

        }
    }

    .homepage__content {
        height: 100%;
        width: 100%;
        background-color: #ffffff;

        padding: 5rem 0;

        display: grid;
        place-items:  start center ;

        .homepage__content--wrapper {
            height: 100%;
            width: 85%;

            display: grid;
            grid-template-columns:[c1] 1fr [c2]1fr [c3]1fr [c4];
            grid-template-rows: 1fr auto;
            gap: 2rem 1rem;

            .first{
                grid-column-start:c1 ;
                grid-column-end: c4;
            }
        }

    }
}