.homepage {
    height: 100%;
    display: grid;
    place-items: center;
    margin-left: 11rem;


    .homepage__header {
        padding: 1rem;
        height: auto;
        width: 100%;
        // background-color: #edf1f8;
        // box-shadow: 0 0 0.35rem #d5d8dd;
        margin-bottom: 1rem;
        display: grid;
        // grid-template-columns: 3fr 2fr;
        gap: 0.1rem;

        .header--item {
            background-color: #ffffff;

        }

        .header--content {
            display: grid;
            place-items: center;
            height: 95vh;
            width: 100%;

            .header--content__wrapper {
                height: 90%;
                width: 60%;

                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                div {

                    h2 {
                        font-size: 2rem;
                    }

                    h1 {
                        font-size: 8rem;
                        font-family: 'Roboto Slab', serif;
                    }
                }


                .content--identity {
                    height: 15rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;



                    h2 {
                        font-size: 2rem;
                        text-transform: capitalize;
                        padding: 0.25rem 5rem;
                        color: #41577e;
                    }
                }

                .content--description {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    font-size: 1.8rem;
                    font-family: sans-serif;
                    border-right: 0.25rem solid rgb(36, 55, 138);
                    border-top: 0.25rem solid rgb(36, 55, 138);
                    padding: 3rem 0;
                    box-shadow: 0 0 0.35rem #d5d8dd;


                    div {
                        padding-left: 5rem;
                        font-size: 3rem;

                    }

                    li {
                        margin-bottom: 0.75rem;
                    }

                    &:hover {
                        transform: translateX(-2%);
                        transition: inherit 500ms ease-in;
                    }

                    transition: all 350ms ease-in;

                }

                Button {
                    width: 15rem;

                    cursor: pointer;
                    outline: none;
                    font-size: 1.5rem;
                    font-weight: 600;

                    color: #000000;
                    border: none;
                    border-radius: 0.5rem;
                    box-shadow: 0 0 0.35rem #d5d8dd;



                    transition: all 500ms ease;
                }


                .know-more {
                    // background-color: #67F4AA;
                    background-color: #6bd68f;

                    margin-right: 5rem;

                }
            }
        }

        .header--image {
            height: 90vh;
            width: 95%;
            // background-image: url(/assets/people.png);

            // background-image: url(/assets/loopd.webp);
            // background-size: 100%;
            // background-repeat: no-repeat;
            // background-position: 50% 0%;
            // transform: scaleX(-1);
            margin: 0 auto;

            box-shadow: 0 0 0.35rem #d5d8dd;
            border-radius: 0.25rem;

            overflow: hidden;

        }
    }

    .homepage__content {
        height: 100%;
        width: 100%;
        background-color: #ffffff;

        padding: 5rem 0;

        display: grid;
        place-items: start center;

        .homepage__content--wrapper {
            height: 100%;
            width: 85%;

            display: grid;
            grid-template-columns: [c1] 1fr [c2]1fr [c3]1fr [c4];
            grid-template-rows: 1fr auto;
            gap: 2rem 1rem;

            .first {
                grid-column-start: c1;
                grid-column-end: c4;
            }
        }

    }
}

@media screen and (max-width: 480px) {

    .homepage {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100vw;
        

        .homepage__header {
            height: 100%;
            width: 100vw;
            display: flex;
            flex-direction: column;

            .header--content {
                height: 90vh;
                width: 98%;


                .header--content__wrapper {
                    height: 100%;
                    width: 100%;
                    padding: 6rem 2rem 0 2rem;

                    div {
                        h2 {
                            font-size: 1.6rem;
                        }

                        h1 {
                            font-size: 4rem;
                            line-height: 5.4rem;
                        }
                    }

                    .content--identity {
                        height: 15rem;

                        h2 {
                            font-size: 1.6rem;
                            padding: 0.25rem 0 0.25rem 5rem;
                        }
                    }

                    .content--description {
                        font-size: 1.4rem;
                        padding: 2rem 0;

                        div {
                            font-size: 2.4rem;
                        }
                    }

                    .btn-wrapper {
                        display: flex;
                        justify-content: space-around;
                    }

                    Button {
                        width: 12rem;
                        font-size: 1.4rem;

                    }

                    .know-more {
                        margin-right: 2rem;
                    }
                }

            }

            .header--image {


                height: calc(95vw*9/16);
                width: 95vw;
                margin: 2rem auto;
            }
        }

        .homepage__content {
            display: flex;

            padding: 3rem 0;


            .homepage__content--wrapper {
                height: 100%;
                width: 100%;

                display: flex;
                flex-direction: column;

                .first {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto;
                    padding: 0;
                }
            }
        }
    }
}