.service-container{
    height: 100%;
    display: grid;
    place-items: center;
    margin-left: 11rem;
    padding: 5rem;
}

.servicespage{
    height: 100%;
    display: grid;
    place-items: center;
    margin-left: 11rem;
    padding: 5rem;
}