:root {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    // margin-left: 11rem;

    padding: 1rem;

    background-color: rgb(255, 255, 255);
}


ul{
    list-style: none;
}