:root {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&family=Source+Serif+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700;900&display=swap');

body {

    // margin-left: 11rem;

    padding: 0;

    background-color: rgb(255, 255, 255);

    font-family: 'Roboto', sans-serif;

    -webkit-tap-highlight-color: transparent;

    ::selection{
        background-color: #6bd68f;
    }
}

body ::selection{
    background-color: #6bd68f;
  }
  
  body::-webkit-scrollbar{
    width: 1rem;  
  }
  
  body::-webkit-scrollbar-track{
    background-color: #262442;
  }
  body::-webkit-scrollbar-thumb{
    background-color: #26caa1;
  }

ul{
    list-style: none;
}


.footer{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: sans-serif;
    text-transform: capitalize;
    padding: 0 ;
    margin-left: 11rem;
}

@media screen and (max-width: 480px) {
  .footer{
    margin: 0;
  }
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#__next-prerender-indicator {
    display: none;
  }