:root {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&family=Source+Serif+Pro:wght@400;600&display=swap');


body {

    // margin-left: 11rem;

    padding: 1rem;

    background-color: rgb(255, 255, 255);

    font-family: 'Roboto', sans-serif;

    ::selection{
        background-color: #6bd68f;
    }
}


ul{
    list-style: none;
}


.footer{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: sans-serif;
    text-transform: capitalize;
}